@font-face {
    font-family: 'metal';
    src: url('fonts/Metal\ Vengeance.ttf') format('truetype');
    font-style: oblique;
    font-weight: 500;
}

*{
    font-family: "metal";
    font-size: 25px;
    letter-spacing: 1px;
    color: #660708;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: #161A1D;

}


#board {
    width: 950px;
    height: 950px;
    border-spacing: 0px;
    background: linear-gradient(#A40606, #D98324);
    border-radius: 20px;
}

.tableTurrets {
    background-color: #1D2D44;
    align-items: center;
}

.turretZone:hover{
    background-color: lightcoral;
}
td{
    border-radius: 4px;
}


#uiGame {
    background: linear-gradient(#D3D3D3, #FFFFFF);    height: 640px;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-radius: 0 20px 20px 0;
}


#uiValues {
    position: absolute;
    left: 10px;
}


h2 {
    box-sizing: content-box;
    color: #161A1D;
}

.uiValuesNum {
    position: relative;
    top: 1.9px;
    left: 10px;
}

#uiGameTurrets {

    position: absolute;
    height: 200px;
    width: 100px;
    top: 290px;
    display: flex;
    left: 50px;

}



.cellTurret {
    width: 200px;
    height: 100px;
    background-color: #B1A7A6;
    border-radius: 15px;
    transition: ease 0.25s;

}

.cellTurret:hover {
        height: 115px;
        transition: ease 0.25s;
        border-radius: px;
}



.turrets0 {
    background-image: url(/Tower-defense/assets/d97spro-e73020d0-21fa-46b6-8968-b19728ce9c3b.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;

}



.turrets1 {
    background: #F0EBD8;
}

.turrets2 {
    background: #F0EBD8;
}

.path {
    background: #D3D3D3;
}

.enemy {
    background-image: url(assets/krzysztof-pixel-matys-92-run-v4.gif);
    background-position: center;
    background-size: 55px;
    background-repeat: no-repeat;
    
    
}

.end {
    background: #161A1D;
}

.spawn {
    background: #660708
}