body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: #0D1321;

}

#board {
    width: 800px;
    height: 800px;
    
}

.tableTurrets {
    background-color: #1D2D44;
    align-items: center;
}

td {
    background-color: #748CAB;
    width: 20px;
    height: 20px;
}

#uiGame {
    background: rgb(2, 97, 97);
    height: 800px;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}


#uiValues {
    position: absolute;
    left: 10px;
}


h2 {
    box-sizing: content-box;
    color: #F0EBD8;
}

.uiValuesNum {
    position: relative;
    top: 1.9px;
    left: 10px;
}

#uiGameTurrets {

    position: absolute;
    height: 200px;
    width: 100px;
    top: 300px;
    display: flex;
    left: 50px;

}



.cellTurret {
    width: 200px;
    height: 60px;
    background-color: #3E5C76;

}



#turrets0 {
    
   background-color: aqua;
    background-size: cover;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

#turrets1 {
    background: #F0EBD8;
}

#turrets2 {
    background: #F0EBD8;
}

.path {
    background: #F0EBD8;
}

.enemy {
    background-size: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: orange;
    
}

.end {
    background: #0D1321;
}

.spawn {
    background: red
}